extends layout

block layout-content

  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a(href='/').navbar-brand Brand Icon
    button(type='button' data-toggler='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation').navbar-toggler
      span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarCollapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a(href='/').nav-link Home
            span.sr-only (current)
          li.nav-item
            a(href='/project/form').nav-link Add Projects
          li.nav-item
            a(href='/project').nav-link All Projects
          li.nav-item
            a(href='/user').nav-link User Profile
          li.nat-item
            a(href='/logout').nav-link Logout
          li.nav-item
          a(href='/login').nav-link Login
