extends layout

block layout-content
  include navbar

  div.container.row
    if projects
      each project in projects
        div.col-sm-auto
          div.card.project
            div.card-body
              a(href='/project/details/' + project._id).card-title= project.title
              p.card-text= project.description
              p.card-text= project.date
              p.card-text= project.owner
              a(href='').btn.btn-primary Complete
              a(href='/project/update-form/' + project._id).btn.btn-warning Edit
              a(href='/project/remove/' + project._id).btn.btn-danger#deleteBtn Delete
    else
      p No projects yet :(
