extends layout

block layout-content

  if projects
      div
        each project in projects
          h2= project.title
          p= project.description
          p= project.date
          p= project.owner
  else
    p No projects yet :(
