extends layout

block layout-content
  include navbar

  div.container
    a(href='/task/form').btn.btn-primary New Task

    if tasks
      div
      each task in tasks
        h2= task.title
        a(href='/project/projects')= task.project
        p= task.assigned_user
        p= task.date
        a(href='/task/update-form/' + task._id).btn.btn-warning Edit
        a(href='/task/remove/' + task._id).btn.btn-danger#deleteBtn Delete
    else
      p No tasks yet!
