extends layout

block layout-content
  include navbar

  div.container
    img(src=userProfile.picture)
    h1 Welcome #{userProfile.nickname}! 
    h2 User Dashboard
    h2 Project #1
    ul
      li Task #1
      li Task #2
